{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Email Leads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <h2>UNITY</h2>
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
                </nav>
            </div>
            <div>
                <h3>{% now "F Y" %}</h3>
            </div>
        </header>
        <main class="py-3">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Email List</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                {{ total_by_month.total }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">New This Month</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                {{ new }}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Unsubscribed</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                {{ status.total }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive py-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 34%;">Email</th>
                            <th style="width: 22%;">Timestamp</th>
                            <th style="width: 22%;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in records %}
                        <tr class="{% cycle 'email' 'created' 'status' %}">
                            <td>{{ r.email }}</td>
                            <td>{{ r.created }}</td>
                            <td>{{ r.get_status_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>

</html>